# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
[Ll]ibrary/
sysinfo.txt

# ===================================== #
# Consulo Project Settings              #
# ===================================== #

.consulo

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db

# =============== #
# Minimalist Mode #
# =============== #
[Xx]ls/
[Aa]ssets/[Cc]ode/*.meta
[Aa]ssets/[Ee]ditor/*.meta
/*.7z